
    <!-- Back to top -->
    <section id="back-to-top">
        <button class="back-top-btn" onclick="backTop()">back to top</button>
    </section>

    <!--  policy -->
    <section id="policy" class="g-c-c">
        <div class="smallest-text">
            Per Noteika's policy, it is prohibited for users to upload or submit any copyright infringing materials.
            Such materials include without limitation copies made without the consent of the copyright owner of testing
            materials, textbooks, instructor’s solution manuals, test banks, lecture notes, slide presentations or
            related copyrighted works, in whole or in part. <br>
            <br>
            By uploading content, you are representing that : <br> <br>
            You are the owner of the copyrights covering the uploaded content or have been granted permission from the
            copyright owners to upload this content <br>
            By uploading the content, you will not violate any law, regulation or ethics code <br>
            The content you are uploading will not violate Studypool’s Terms of Use <br>
            <br>
            Uploaded content should add value for other Studypool users and be academic in nature. Uploaded content
            cannot be blank, duplicates, or have random filler content, and it must not contain any offensive material.
            When uploading content, you must tag the relevant course or subject. Studypool reserves the right to reject
            and remove any uploaded content from our site at any time, for any reason in our sole discretion, and
            without notice.
        </div>
    </section>

    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- JavaScript -->
    <script src="JS/index.js" charset="utf-8">
    </script>

</body>

</html>