    <!-- Back to top -->
    <section id="back-to-top">
        <button class="back-top-btn" onclick="backTop()">back to top</button>
    </section>


    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- JavaScript -->
    <script src="JS/index.js" charset="utf-8">
    </script>
    <script src="JS/server.js" charset="utf-8">
    </script>
