<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        Study Material - Studivia
    </title>
    <!-- css link -->
    <link rel="stylesheet" href="css/styles.css">
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,600&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
</head>

<body id="sell-docs">
    <!-- Header -->
    <section id="header" class="home-header">
        <a href="index.html">
            <logo>Studivia</logo>
        </a>
        <form class="search-form sidebar-search" action="/action_page.php">
            <input type="text" placeholder="Search GD Goenka" name="search" class="search-box">
            <button class="search-btn header-icon" type="submit"><img src="images/icons/search.svg" alt=""></button>
        </form>
        <div class="header-right">
            <div class="header-textbox small-semi">
                <!-- <p class=" header-textitem"><a class="small-semi" href="study_material.html">Study Material</a></p> -->
                <!-- 2 different classes because of color issue caused by a tag -->
                <p class="header-textitem"><a class="small-semi" href="student_reviews.html">Student Reviews</a></p>
                <p class="header-textitem"><a class="small-semi" href="pricing.html">Pricing</a></p>
                <p class="header-textitem"><a class="small-semi" href="contact-us.html">Contact Us</a></p>
                <li class="text-item4 header-textitem"></li>
                <p class="header-textitem"><a class="small-semi" href="login.html">Login</a></p>
            </div>
            <button type="button" class="header-btn" onclick="location.href='sell-docs.html'">Sell Docs</button>
        </div>
    </section>

    <!-- Sub-header -->
    <section id="sub-header">
        <div class="sub-h-tbox">
            <div class="dropdown">
                <a class="sub-tbox-item">All Subjects</a>
                <div class="dropdown-content">
                    <a href="#">BTech</a>
                    <a href="#">Hotel Mgmt.</a>
                    <a href="#">Chemistry</a>
                </div>
            </div>
            <div class="dropdown">
                <a class="sub-tbox-item">BTech</a>
                <div class="dropdown-content">
                    <a href="#">BTech</a>
                    <a href="#">Hotel Mgmt.</a>
                    <a href="#">Chemistry</a>
                </div>
            </div>
            <div class="dropdown">
                <a class="sub-tbox-item">Hotel Mgmt.</a>
                <div class="dropdown-content">
                    <a href="#">BTech</a>
                    <a href="#">Hotel Mgmt.</a>
                    <a href="#">Chemistry</a>
                </div>
            </div>
            <div class="dropdown">
                <a class="sub-tbox-item">Chemistry</a>
                <div class="dropdown-content">
                    <a href="#">BTech</a>
                    <a href="#">Hotel Mgmt.</a>
                    <a href="#">Chemistry</a>
                </div>
            </div>
            <div class="dropdown">
                <a class="sub-tbox-item">Business</a>
                <div class="dropdown-content">
                    <a href="#">BTech</a>
                    <a href="#">Hotel Mgmt.</a>
                    <a href="#">Chemistry</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Sell Docs Hero -->
    <section id="sell-hero">
        <div class="sell-hero-text">
            <h2>Earn money by selling documents</h2>
            <p>Earn passive income of up to $5,000 USD a month. We share your docs with 10’s of millions of students.
                You get up to $10 every time a student views one.</p>
            <p class="smallest-text"> We accept documents in all Indian Languages</p>
        </div>
        <img src="images/sell-docs-hero.svg" alt="">
    </section>

    <!-- what to sell and earnings -->
    <section id="hook-what">
        <div class="hook-what-box">
            <div class="what-to-upload">
                <h3>What to upload?</h3>
                <div class="wtu-point-box">
                    <div class="wtu-point">
                        <div class="wtu-point-heading">
                            <img src="images/icons/test-papers.svg" alt="">
                            <div class="sidebar-heading">Test Papers</div>
                        </div>
                        <p>Past quizzes and tests, practice problems, study guides can be helpful study resources.</p>
                    </div>
                    <div class="wtu-point">
                        <div class="wtu-point-heading">
                            <img src="images/icons/class-docs.svg" alt="">
                            <div class="sidebar-heading">class notes</div>
                        </div>
                        <p>Past quizzes and tests, practice problems, study guides can be helpful study resources.</p>
                    </div>
                    <div class="wtu-point">
                        <div class="wtu-point-heading">
                            <img src="images/icons/assignments.svg" alt="">
                            <div class="sidebar-heading">assignments</div>
                        </div>
                        <p>Past quizzes and tests, practice problems, study guides can be helpful study resources.</p>
                    </div>
                </div>
            </div>
            <div class="top-earners">
                <h3>Top Earners</h3>
                <div class="top-earners-bg">
                    <div class="top-user">
                        <div class="sidebar-heading">Aman</div>
                        <div class="sidebar-heading">₹16,23,566</div>
                    </div>
                    <div class="top-user">
                        <div class="sidebar-heading">Aryan</div>
                        <div class="sidebar-heading">₹9,23,566</div>
                    </div>
                    <div class="top-user">
                        <div class="sidebar-heading">jayesh</div>
                        <div class="sidebar-heading">₹2,23,566</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Steps -->
    <!-- <section id="steps">
        <div class="step-box">
            <div class="step selected">
                    <div class="step-num">
                        <div class="bg-1">
                            <div class="bg-2">
                                <h4>1</h4>
                            </div>
                        </div>
                    </div>
                <h4>upload</h4>
            </div>
            <div class="step selected not-selected">
                    <div class="step-num">
                        <div class="bg-1">
                            <div class="bg-2">
                                <h4>2</h4>
                            </div>
                        </div>
                    </div>
                <h4>questions</h4>
            </div>
            <div class="step selected not-selected">
                    <div class="step-num">
                        <div class="bg-1">
                            <div class="bg-2">
                                <h4>3</h4>
                            </div>
                        </div>
                    </div>
                <h4>finish</h4>
            </div>
        </div>
    </section> -->