<%- include('./partials/header-login'); %>

<section class="g-c-c m-t-40">
    <div class="checkout-content f-r-fs">
        <div class="left-checkout m-r-20">
            <div class="pay-method">
                <h3>1. Choose payment method</h3>
                <div class="cart m-t-20 m-b-40">
                    <p class="m-t-10 c-para-text">Check for saved items below or <a
                            href="study_material.html">continue shopping</a>.</p>
                </div>
            </div>
            <div class="review-docs">
                <h3>2. Review Documents</h3>
                <div class="m-t-20 pdfs f-r-c">
                    <div class="n-pdf-bg pdf-with-user">
                        <div class="pdf-img">
                            <img src="images/IMG_1188.JPG" alt=""></div>
                        <div class="tag-box">
                            <tags style="color: #6463C1 ;">Course</tags>
                            <tags style="color: #FF6889;">Sem</tags>
                            <tags style="color: #FF9C28;">Subject</tags>
                            <tags style="color: #60CD83;">Topic</tags>
                        </div>
                        <p>Counting 1-100 with spellings</p>
                        <div class="pdf-college-user">
                            <div class="smallest-text">IIT Mumbai <div class="smallest-text">Magnanimous Ritesh
                                </div>
                            </div>
                        </div>
                        <div class="small-semi">₹256</div>
                        <div class="rating">
                            <div class="stars">
                                <img src="images/icons/star.svg" alt="">
                                <img src="images/icons/star.svg" alt="">
                                <img src="images/icons/star.svg" alt="">
                                <img src="images/icons/star.svg" alt="">
                                <img src="images/icons/star.svg" alt="">
                            </div>
                            <a class="smallest-text" href="#">9,125</a>
                        </div>
                        <div class="smallest-h">12 page</div>
                    </div>
                    <div class="n-pdf-bg pdf-with-user">
                        <div class="pdf-img">
                            <img src="images/IMG_1188.JPG" alt=""></div>
                        <div class="tag-box">
                            <tags style="color: #6463C1 ;">Course</tags>
                            <tags style="color: #FF6889;">Sem</tags>
                            <tags style="color: #FF9C28;">Subject</tags>
                            <tags style="color: #60CD83;">Topic</tags>
                        </div>
                        <p>Counting 1-100 with spellings</p>
                        <div class="pdf-college-user">
                            <div class="smallest-text">IIT Mumbai <div class="smallest-text">Magnanimous Ritesh
                                </div>
                            </div>
                        </div>
                        <div class="small-semi">₹256</div>
                        <div class="rating">
                            <div class="stars">
                                <img src="images/icons/star.svg" alt="">
                                <img src="images/icons/star.svg" alt="">
                                <img src="images/icons/star.svg" alt="">
                                <img src="images/icons/star.svg" alt="">
                                <img src="images/icons/star.svg" alt="">
                            </div>
                            <a class="smallest-text" href="#">9,125</a>
                        </div>
                        <div class="smallest-h">12 page</div>
                    </div>
                </div>
                <div class="order-total-box f-r-c-sb c-blue">
                    <div class="left f-r-c">
                        <button class="buynow-cta m-r-20" onclick="location.href='checkout.html'">PLACE YOUR
                            ORDER</button>
                        <h3>Order Total:</h3>
                    </div>
                    <h3>₹ 789</h3>
                </div>
            </div>
        </div>
        <div class="right-cart">
            <div class="total-cost m-b-20">
                <button class="buynow-cta m-b-10" onclick="location.href='checkout.html'">PROCEED TO BUY</button>
                <p>Continue to step 2 to finish checking out. You’ll have a chance to review your order before it’s
                    final.</p>
                <div class="price-details total-cost-item m-t-10">
                    <h3>Price Details</h3>
                    <div class="total-items f-r-c-sb">
                        <p>Items</p>
                        <p>₹1000</p>
                    </div>
                    <div class="discount f-r-c-sb m-t-5">
                        <p>Discount</p>
                        <p>-₹ 210</p>
                    </div>
                </div>
                <div class="f-r-c-sb c-blue  total-cost-item">
                    <h3>Order Total:</h3>
                    <h3>₹ 789</h3>
                </div>
                <div class="you-save total-cost-item f-r-c-sb c-blue">
                    <p>Your Savings:</p>
                    <div class="sidebar-heading">₹47(9.9%)</div>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('./partials/footer'); %>
</body>

</html>