<%- include('./partials/header-login'); %>

<div style="height: 90vh;" class="g-c-c">
    <form action="/login.html" method="post" id="loginForm" class="f-c-c">
        <logo class="c-heading">Studivia</logo>
        <input type="text" placeholder="Username or Email" class="basic-bg-border m-t-40" name="username" maxlength="50" required="required">
        <input type="password" placeholder="Confirm Password" class="basic-bg-border m-t-10" name="userPass"  maxlength="15" required="required">
        <input type="submit" placeholder="Register" class="m-t-20">
    </form>
    <a class="blue-button" href="/auth/google"  role="button">Login using google</a>
    <div class="regu-12">Not a registered user? <a href="/register" class="link">Create new account</a></div>
</div>
<%if(errorHtml != ''){%>
<div class="error f-r-c ">
    <div class="error-box f-r-c">
        <img src="images/icons/error.svg" alt="">
        <h4 class="m-l-10">Error</h4>
    </div>
    <div class="error-bg f-r-c "><p><%=errorHtml%></p>
    <button><img src="images/icons/no.svg" alt="" class="m-l-20 error-btn-img"></div></button>
</div>
<%}%>

<script src="JS/login.js" charset="utf-8">
</script>
<%- include('./partials/footer-login'); %>