<%- include('./partials/header-login'); %>

<div style="height: 90vh;" class="g-c-c">
    <form action="/login.html" method="post" id="loginForm" class="f-c-c">
        <logo class="c-heading">Studivia</logo>
        <input type="text" placeholder="Username or Email" class="basic-bg-border m-t-40" name="username" maxlength="50" required="required">
        <input type="password" placeholder="Confirm Password" class="basic-bg-border m-t-10" name="userPass"  maxlength="15" required="required">
        <input type="submit" placeholder="Register" class="m-t-20">
    </form>
    <div class="regu-12">Not a registered user? <a href="/register" class="link">Create new account</a></div>
</div>

<%- include('./partials/footer-login'); %>