<%- include('./partials/header-sellDocs',{step1 : "not-selected",step2 : "not-selected",step3:"selected"}); %>


    <!-- Step-3 Consent -->
    <section id="step-x">
        <div class="step-1-box">
            <h3>Finish final steps and start earning</h3>
            <div >
                <h3>Your consent</h3>
                <form action="/action_page.php" id="step-3">
                    <div class="f-r-c"><input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                        <label for="vehicle1">
                            <p> You are the owner of the copyrights covering the uploaded content or have been granted
                                permission from the copyright owners to upload this content</p>
                        </label><br></div>
                    <div class="f-r-c"><input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                        <label for="vehicle1">
                            <p> By uploading the content, you will not violate any law, regulation or ethics code</p>
                        </label><br></div>
                    <div class="f-r-c"><input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                        <label for="vehicle1">
                            <p> The content you are uploading will not violate Noteika’s Terms of Use</p>
                        </label><br></div>
                </form>
            </div>
            <div class="ctas">
                <button class="simple-blue-button m-left m-r-15">save as draft <img src="images/icons/save-as-draft.svg"
                        alt=""></button>
                        <button id="send-veri" form="step-3" class="not-selected-button m-left">send for verification <img src="images/icons/arrow.svg"
                            alt=""></button>
            </div>
        </div>
    </section>


<%- include('./partials/footer-sellDocs'); %>
