<%- include('./partials/header-login',{page:"Sell Documents"}); %>

<!-- Steps -->
<section id="steps" class="m-t-40">
    <div class="step-box">
        <div class="step not-selected ">
            <!-- <a href="sell-docs.html"> -->
            <div class="step-num">
                <div class="bg-1">
                    <div class="bg-2">
                        <h4>1</h4>
                    </div>
                </div>
            </div>
            <!-- </a> -->
            <h4>upload</h4>
        </div>
        <div class="step selected ">
            <!-- <a href="sell-docs.html"> -->
            <div class="step-num">
                <div class="bg-1">
                    <div class="bg-2">
                        <h4>2</h4>
                    </div>
                </div>
            </div>
            <!-- </a> -->
            <h4>questions</h4>
        </div>
        <div class="step not-selected ">
            <!-- <a href="sell-docs.html"> -->
            <div class="step-num">
                <div class="bg-1">
                    <div class="bg-2">
                        <h4>3</h4>
                    </div>
                </div>
            </div>
            <!-- </a> -->
            <h4>finish</h4>
        </div>
    </div>
</section>

<!-- Step-2 Questions -->
<section id="step-x">
    <div class="step-1-box">
        <h3>Answer some questions to help students understand document better</h3>
        <form action="/sell-docs-2" id="step-2" class="step-form" method="post">
            <div class="form-left">
                <div class="name form-item">
                    <div class="big-text">Question related to document number 1? </div>
                    <div class="for-instruc">
                        <select form="step-2" name="docQues1" class="search-box">
                            <option>none selected</option>
                            <option>This is option 1</option>
                            <option>This is option 2</option>
                            <option>This is option 3</option>
                            <option>This is option 4</option>
                        </select>
                    </div>
                </div>
                <div class="name form-item">
                    <div class="big-text">Question related to document number 1? </div>
                    <div class="for-instruc">
                        <select form="step-2" name="docQues2" class="search-box">
                            <option>none selected</option>
                            <option>This is option 1</option>
                            <option>This is option 2</option>
                            <option>This is option 3</option>
                            <option>This is option 4</option>
                        </select>
                    </div>
                </div>
                <div class="name form-item">
                    <div class="big-text">Question related to document number 1? </div>
                    <div class="for-instruc">
                        <select form="step-2" name="docQues3" class="search-box">
                            <option>none selected</option>
                            <option>This is option 1</option>
                            <option>This is option 2</option>
                            <option>This is option 3</option>
                            <option>This is option 4</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-right">
                <div class="name form-item">
                    <div class="big-text">Question related to document number 1? </div>
                    <div class="for-instruc">
                        <select form="step-2" name="docQues4" class="search-box">
                            <option>none selected</option>
                            <option>This is option 1</option>
                            <option>This is option 2</option>
                            <option>This is option 3</option>
                            <option>This is option 4</option>
                        </select>
                    </div>
                </div>
                <div class="name form-item">
                    <div class="big-text">Question related to document number 1? </div>
                    <div class="for-instruc">
                        <select form="step-2" name="docQues5" class="search-box">
                            <option>none selected</option>
                            <option>This is option 1</option>
                            <option>This is option 2</option>
                            <option>This is option 3</option>
                            <option>This is option 4</option>
                        </select>
                    </div>
                </div>
                <div class="name form-item">
                    <div class="big-text">Question related to document number 1? </div>
                    <div class="for-instruc">
                        <select form="step-2" name="docQues6" class="search-box">
                            <option>none selected</option>
                            <option>This is option 1</option>
                            <option>This is option 2</option>
                            <option>This is option 3</option>
                            <option>This is option 4</option>
                        </select>
                    </div>
                </div>
            </div>
        </form>
        <div class="ctas">
            <form action="/draft" method="post" id="draft">
                <button class="simple-blue-button m-left m-r-15" type="submit" form="draft">save as draft <img
                        src="images/icons/save-as-draft.svg" alt=""></button>
            </form>
            <button id="continue-btn-1" form="step-2" type="submit" value="submit"
                class="simple-blue-button m-left">Continue <img src="images/icons/arrow.svg" alt=""></button>
        </div>
    </div>
</section>
<script src="JS/sell-docs2.js"></script>
<%- include('./partials/footer-login'); %>