<%- include('./partials/header-sellDocs'); %>

    <!-- Step-2 Questions -->
    <section id="step-x">
        <div class="step-1-box">
            <h3>Answer some questions to help students understand document better</h3>
            <form action="/sell-docs-2.html" id="step-2" class="step-form" method="post">
                <div class="form-left">
                    <div class="name form-item">
                        <div class="big-text">Question related to document number 1? </div>
                        <div class="for-instruc">
                            <select  form="step-2" name="docQues1" class="search-box">
                                <option>This is option 1</option>
                                <option>This is option 2</option>
                                <option>This is option 3</option>
                                <option>This is option 4</option>
                            </select>
                        </div>
                    </div>
                    <div class="name form-item">
                        <div class="big-text">Question related to document number 1? </div>
                        <div class="for-instruc">
                            <select  form="step-2" name="docQues2" class="search-box">
                                <option>This is option 1</option>
                                <option>This is option 2</option>
                                <option>This is option 3</option>
                                <option>This is option 4</option>
                            </select>
                        </div>
                    </div>
                    <div class="name form-item">
                        <div class="big-text">Question related to document number 1? </div>
                        <div class="for-instruc">
                            <select  form="step-2" name="docQues3" class="search-box">
                                <option>This is option 1</option>
                                <option>This is option 2</option>
                                <option>This is option 3</option>
                                <option>This is option 4</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-right">
                    <div class="name form-item">
                        <div class="big-text">Question related to document number 1? </div>
                        <div class="for-instruc">
                            <select  form="step-2" name="docQues4" class="search-box">
                                <option>This is option 1</option>
                                <option>This is option 2</option>
                                <option>This is option 3</option>
                                <option>This is option 4</option>
                            </select>
                        </div>
                    </div>
                    <div class="name form-item">
                        <div class="big-text">Question related to document number 1? </div>
                        <div class="for-instruc">
                            <select  form="step-2" name="docQues5" class="search-box">
                                <option>This is option 1</option>
                                <option>This is option 2</option>
                                <option>This is option 3</option>
                                <option>This is option 4</option>
                            </select>
                        </div>
                    </div>
                    <div class="name form-item">
                        <div class="big-text">Question related to document number 1? </div>
                        <div class="for-instruc">
                            <select  form="step-2" name="docQues6" class="search-box">
                                <option>This is option 1</option>
                                <option>This is option 2</option>
                                <option>This is option 3</option>
                                <option>This is option 4</option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
            <div class="ctas">
                <button class="simple-blue-button m-left m-r-15">save as draft <img src="images/icons/save-as-draft.svg"
                        alt=""></button>
                <button id="continue-btn-1" form="step-2" type="submit" value="submit"
                    class="not-selected-button m-left">Continue <img src="images/icons/arrow.svg"
                        alt=""></button>
            </div>
        </div>
    </section>

<%- include('./partials/footer-sellDocs'); %>
