<% if(loginStatusHtml == true){ %>
<%- include('./partials/header-sellDocs',{step1 : "selected",step2 : "not-selected",step3:"not-selected"}); %>
<% }else{%>
<%- include('./partials/header-sellDocs-before'); %>
<%} %>

<!-- Step-1 Fill Details -->
<section id="step-x">
    <div class="step-1-box">
        <%if (loginStatusHtml == true){%>
             <h3>fill details and Upload your study documents</h3>
             <form action="/sell-docs.html" class="step-form" id="uploadDocDetails" method="post" enctype="multipart/form-data">
                <div class="form-left">
                    <div class="name form-item req-item">
                        <label for="name" class="smallest-h">File Name</label>
                        <div class="for-instruc">
                            <input type="text" placeholder="File Name" name="name" class="search-box" required="required" maxlength="50" title="Write document name within 50 characters">
                            <div class="step not-selected">
                                <a href="sell-docs.html">
                                    <div class="step-num tip">
                                        <div class="bg-1">
                                            <div class="bg-2">
                                                <div class="smallest-h">!</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="university form-item req-item">
                        <div class="smallest-h">University</div>
                        <div class="for-instruc">
                            <input type="text" placeholder="University name" name="university" maxlength="50" title="Use only characters and enter university the document belongs to or the university you study in" class="search-box c-heading" required="required" list="universities">
                            <datalist id="universities">
                                <option value="SRM University Haryana">SRM-Haryana</option>
                                <option value="IIT-Delhi">Indian Institute of Technology, Delhi</option>
                            </datalist>
                            <div class="step not-selected">
                                <a href="sell-docs.html">
                                    <div class="step-num tip">
                                        <div class="bg-1">
                                            <div class="bg-2">
                                                <div class="smallest-h">!</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="form-2-item">
                        <div class="doc-type-name form-item">
                            <div class="smallest-h">Document Type</div>
                            <select name="docType" class="search-box" form="uploadDocDetails">
                                <option>Notes</option>
                                <option>Question Paper</option>
                                <option>Assignment</option>
                            </select>
                        </div>
                        <div class="lang-name form-item">
                            <div class="smallest-h">Language</div>
                            <select name="langName" class="search-box" form="uploadDocDetails">
                                <option>English</option>
                                <option>Hindi</option>
                                <option>Marathi</option>
                                <option>Tamil</option>
                                <option>Gujurati</option>
                                <option>Bengali</option>
                                <option>Punjabi</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-2-item">
                        <div class="year form-item req-item">
                            <div class="smallest-h">Year of Creation</div>
                            <input type="number" min="1900" max="2099" step="1" placeholder="Year" name="year"
                             class="search-box" required="required" title="Document creation year">
                        </div>
                        <div class="sub-name form-item req-item">
                            <div class="smallest-h">Course</div>
                            <input type="text" placeholder="Course" name="courseName" class="search-box c-heading" required="required" pattern="[A-Za-z]{1,25}" maxlength="25" title="Course the document belongs to" list="courses">
                            <datalist id="courses">
                                <option value="BTech">Bachelors of Technology</option>
                                <option value="BTech-CSE">Bachelors of Technology - Computer Science</option>
                            </datalist>
                        </div>
                    </div>
                    <div class="form-2-item">
                        <div class="sub-name form-item req-item">
                            <div class="smallest-h">Subject</div>
                            <div class="">
                                <input type="text" placeholder="Subject" name="subName" class="search-box c-heading" list="subjects" required="required" pattern="[A-Za-z ]" maxlength="50" title="Subject the document belongs to">
                                <datalist id="subjects">
                                    <option value="Computer Organisation and Architecture">COA</option>
                                    <option value="Maths">Mathematics</option>
                                    <option value="French">French</option>
                                    <option value="C++">C++</option>
                                    <option value="Data Structures and Algorithms">DSA</option>
                                    <option value="Analysis and Design of Algorithms">ADA</option>
                                    <option value="Operating Systems">OS</option>
                                    <option value="Java">Java</option>
                                    <option value="Python">Python</option>
                                    <option value="Discrete Structures">DS</option>
                                    <option value="Chemistry">Chemistry</option>
                                </datalist>
                            </div>
                        </div>
                        <div class="year form-item req-item">
                            <div class="smallest-h">Topic</div>
                            <input type="text" placeholder="Topic" name="topic" class="search-box" required="required" maxlength="50" title="Document topic">
                        </div>
                    </div>
                    <div class="desc form-item">
                        <div class="smallest-h">Description</div>
                        <div class="for-instruc">
                            <textarea name="desc" id="desc" class="search-box" placeholder="Description"
                                style="height: 100px;" maxlength="250" title="Write description about document. it will help you rank better and user understand your document better."></textarea>
                            <div class="step not-selected">
                                <a href="sell-docs.html">
                                    <div class="step-num tip">
                                        <div class="bg-1">
                                            <div class="bg-2">
                                                <div class="smallest-h">!</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                     <!-- <div class="tags-name form-item req-item">
                                <div class="smallest-h">Tags</div>
                                <div class="for-instruc">
                                    <input list="subjects" placeholder="Tags" name="tags" class="search-box">
                                    <div class="step not-selected">
                                        <a href="sell-docs.html">
                                            <div class="step-num tip">
                                                <div class="bg-1">
                                                    <div class="bg-2">
                                                        <div class="smallest-h">!</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div> -->
                </div>
                <div class="form-right">
                    <div class="up-docs-name form-item req-item">
                        <div class="smallest-h">Upload Documents</div>
                        <div class="for-instruc">
                            <input type="file" placeholder="Drag and drop file(s) here" name="upDocs" accept=".pdf" id="upDocs" class="search-box" >
                            <div class="step not-selected">
                                <a href="sell-docs.html">
                                    <div class="step-num tip">
                                        <div class="bg-1">
                                            <div class="bg-2">
                                                <div class="smallest-h">!</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="up-docs-size">
                            <div id="current-size" class="size">
                                <div class="smallest-text">Current size:</div>
                                <div class="link" id="upfile-size">0 MB</div>
                                <img src="images/icons/tick.svg" alt="" height="16px">
                            </div>
                            <div class="max-up-size size">
                                <div class="smallest-text">Max upload size:</div>
                                <div class="link">50 MB</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-2-item form-2-item-r">
                        <div class="set-price form-item req-item">
                            <div class="smallest-h">Price</div>
                            <input type="number" placeholder="Price" name="setPrice" class="search-box" required="required" maxlength="6">
                        </div>
                        <div class="earn-per form-item">
                            <div class="smallest-h">Earnings Per Download</div>
                            <input type="number" placeholder="Earnings" name="earnPer" class="search-box">
                        </div>
                    </div>
                    <img src="images/uploading.svg" alt="">
                </div>
            </form>
        </div>
        <div class="ctas">
            <!-- <button class="simple-blue-button m-left">save as draft <img src="images/icons/save-as-draft.svg"
                    alt=""></button> -->
            <button id="continue-btn" form="uploadDocDetails" type="submit" value="Submit"
                class="simple-blue-button m-left">Continue <img src="images/icons/arrow.svg" alt=""></button>
        </div>
        <%}else{%>
            <h3><a href="/login.html">Login</a> to start earning!</h3>
            <% }%>

</section>

<script src="https://mozilla.github.io/pdf.js/build/pdf.js"></script>
<script src="JS/sell-docs.js" charset="utf-8">
</script>
<%- include('./partials/footer-sellDocs'); %>
